body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}
